# local virtual environment folder
venv

# Python bytecode cache
__pycache__

# local python package installations
*.egg-info


# Coverage data
.coverage


# sqlite databases from development
*.sqlite3


# JWT secret
tmeit_backend/jwt_secret.txt

# SAML certs
tmeit_backend/saml.crt
tmeit_backend/saml.pem