aniso8601==4.0.1
Click==7.0
Flask==1.0.2
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mimerender==0.6.0
promise==2.2.1
python-dateutil==2.7.5
python-mimeparse==1.6.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.15
Werkzeug==0.14.1
