#info {
    display: flex;
    flex-wrap: wrap;
}

.react-tabs__tab-list {
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: thin solid black;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem;

}