  .link {
    text-align: center;
    cursor: pointer;
  }
  
  .menu {
    opacity: 0;
    position: absolute;
    top: 60px; 
    /* right: 0; */
    margin-right: 2rem;
    float: right;
    background: #ededed;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    font-size: 1rem; 
    transition: all 250ms ease;
    overflow-clip-margin: 10rem;
  }
  
  .menu.open {
    opacity: 1;
  }   