footer {
    background-color: #f5f5f5;
    margin-top: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
}