footer {
    background-color: #f5f5f5;
    margin-top: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}