html {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 4rem 1fr 5rem;
    row-gap: 2rem;
 }

main {
    grid-row-start: 2;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav ul li {
    display: inline;
}

nav ul {
    padding: 0;
}